.navegacion{
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    display: flex;
    
    flex-direction: column;
    background-color: rgb(233, 62, 10);
    
    height: 70px;
}
.NavLinks{
    
    /* border: 5px solid aliceblue; */
    margin-top: 5px;
    margin-bottom:-10px;
   
    
}
.NavLinks button {
    height: 35px;
    width: 80px;
    
    
}